html, body {
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
body {
	background:#888;
	color:#555;
	text-align:center;
	font-family:Arial;
}
h1 {
	color:#fff;
	text-transform:uppercase;
	text-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
}

#btn-avatar {
}
#avatarUpload {
	opacity: 0;
	overflow: hidden;
	position: relative;
	left: -240px;
}

.label {
	z-index: -1;
	left: 15vw;
	top: 10vh;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color:#df474b;
	display: inline-block;
	cursor:pointer;
	padding: 1px 6px;
	border: none;
}

.label:hover {
	background-color: #df474b;
	cursor: pointer;
}

#chat {
	margin:0 auto;
	width:70%;
	max-width:500px;
	height: calc(100% - 80px - 40px - 60px); /* 80px = marge haute, 40px = marge basse, 60px = padding vertical */
    padding:30px;
    padding-bottom: 50px;
	background:#fff;
	border-radius:14px;
	font-size:0;
	box-shadow:0px 0px 20px 0 rgba(0, 0, 0, 0.3);
	background-color : black;
}


#messages {
	height:calc(100% - 15px - 60px); /* 15px = padding-top, 60px = formulaire en dessous  */
	padding-top:15px;
	width:100%;
	overflow-y:scroll;
	margin-bottom:10px;
	font-size:12px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-right: solid 1px #eaeaea;
    border-bottom: solid 2px #DDD;
	background:#eee;
	text-align: left;
}
#messages .message {
	padding:4px 20px;
	display: flex;
	align-items: center;
}
#messages .message:nth-child(2n) {
	background:rgba(0, 0, 0, .02);
}
#message-input {
	display:inline-block;
	border:solid 2px #888;
	width:calc(80% - 144px);
	padding:0 20px;
	height:31px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-right:none;
	transition:all .4s;
}
#fileupload{
	text-align:left;
}
/* Hide the file input using
opacity */
#fileupload > [type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

#send-message {
	display:inline-block;
	border:solid 2px #888;
	background:0;
	width:100px;
	padding:8px 0;
	text-transform:uppercase;
	font-weight:bold;
	color:inherit;
	background:#888;
	color:#fff;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	cursor:pointer;
	transition:all .4s;
}
#buttons {
	position:absolute;
	top:30px;
	left:30px;
}
#buttons > * {
	display:block;
	margin-bottom:10px;
}

#wizz-button {
	border:none;
	cursor:pointer;
	transition:all .4s;
}
.sharedFile{
	max-width: 128px;
	max-height: 128px;
}
.button_style {
	display:inline-block;
	border:solid 2px #888;
	background:0;
	width:100px;
	padding:8px 0;
	text-transform:uppercase;
	font-weight:bold;
	color:inherit;
	background:#888;
	color:#fff;
	cursor:pointer;
	transition:all .4s;
}

#message-input:focus {
	outline:none;
	border-color:#666;
}
#send-message:focus {
	outline:none;
}
#message-input:focus + #send-message {
	border-color:#666;
	background:#777;
}
#messages .message .avatar {
	display: inline-block;
	width: 60px;
	height:60px;
	border-radius:50%; 
	background-size:cover;
	background-position: center;
	margin-right: 10px;
	min-width: 60px;
}
#messages .message .user {
	font-weight:bold;
	padding-right: 10px;
}
#messages .message .user:after {
	content:': ';
}
#messages .message .contenu_message {
	max-width: 75%;
}
/* Module Daffy */
.daffy {
    background: url(modules/daffy/daffy.gif) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

/* Module Jack Sparrow */
@font-face {
	font-family: "pirate";
	src: url('modules/jack/PiratesBay.ttf');
}
.jacksparrow {
	color : #52120B;
	font-family: pirate;
}
.jackFace {
	background:  url(modules/jack/jackFace.jpg) no-repeat;
	background-size: contain;
    width: 80px;
	height: 50px;
	display: inline-block;
    vertical-align: middle;
	font-size:0;
}

/* Module Smiley */
.pepemoji {
    background: url(modules/smileys/pepemoji.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}
.pepechoque {
    background: url(modules/smileys/pepechoque.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}
.pepecool {
    background: url(modules/smileys/pepecool.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}
.pepelarme {
    background: url(modules/smileys/pepelarmoyant.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
}
.pepesad {
    background: url(modules/smileys/pepesad.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}
.pepelove {
    background: url(modules/smileys/pepelove.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}
.pepeniais {
    background: url(modules/smileys/pepeniais.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}
.pepemdr {
    background: url(modules/smileys/pepemdr.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

/* Module Basket */
.ball {
	border-radius:50%;
	width:80px;
	height:80px;
	position:absolute;
	top:100px;
	left:50%;
	background:url('modules/basket/ball.png') no-repeat;
	background-size:contain;
	transform-origin:center;
	z-index:2;
}
#basket-net {
	position:absolute;
	top:300px;
	right:0;
	width:150px;
	height:150px;
}
#basket-net #back,
#basket-net #front {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#basket-net #back {
	background:url('modules/basket/basket-net-back.png') no-repeat;
	background-size:contain;
	z-index:0;
}
#basket-net #front {
	background:url('modules/basket/basket-net-front.png') no-repeat;
	background-size:contain;
	z-index:2;
}
#others-mouse-pos {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	pointer-events:none;
}
#others-mouse-pos > .mouse-pos {
	position:absolute;
	width:20px;
	height:20px;
	transform:translateX(-50%) translateY(-50%);
	border-radius:50%;
}
#basket-scores {
	position: absolute;
    right: 0;
    top: 100px;
    text-align: right;
    padding: 5px 10px;
    background: #bc663c;
    font-size: 12px;
    line-height: 2;
	font-weight:bold;
}
.basket-score {
	position:absolute;
	font-size:60px;
	color:#bc663c;
	font-weight:bold;
}

/* Help */
#help {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
#help .inner {
    background: #fff;
    border-radius: 12px;
    text-align: left;
    max-width: 240px;
    font-size: 12px;
    padding: 10px;
	display:none;
	position:relative;
}
#btn-close-help {
	position:absolute;
	top:10px;
	right:10px;
}
#help h3 {
	margin-top:0;
}
#help ul {
	list-style-position:inside;
	margin-left:15px;
	padding-left:0;
}

#smiley{
	cursor:pointer;
	transition:all .4s;
	border:none;
}

.un {
	background: url(modules/smileys/1.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.deux {
	background: url(modules/smileys/2.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.trois {
	background: url(modules/smileys/3.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.quatre {
	background: url(modules/smileys/4.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.cinq {
	background: url(modules/smileys/5.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.six {
	background: url(modules/smileys/6.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.sept {
	background: url(modules/smileys/7.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.huit {
	background: url(modules/smileys/8.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.neuf {
	background: url(modules/smileys/9.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.dix {
	background: url(modules/smileys/10.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.onze {
	background: url(modules/smileys/11.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.douze {
	background: url(modules/smileys/12.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.treize {
	background: url(modules/smileys/13.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.quatorze {
	background: url(modules/smileys/14.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.quinze {
	background: url(modules/smileys/15.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}
.seize {
	background: url(modules/smileys/16.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.dixsept {
	background: url(modules/smileys/17.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.dixhuit {
	background: url(modules/smileys/18.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.dixneuf {
	background: url(modules/smileys/19.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingt {
	background: url(modules/smileys/20.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingtun {
	background: url(modules/smileys/21.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingtdeux {
	background: url(modules/smileys/22.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingtrois {
	background: url(modules/smileys/23.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingtquatre {
	background: url(modules/smileys/24.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingtcinq {
	background: url(modules/smileys/25.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingtsix {
	background: url(modules/smileys/26.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingtsept {
	background: url(modules/smileys/27.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingthuit {
	background: url(modules/smileys/28.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.vingtneuf {
	background: url(modules/smileys/29.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

.trente {
	background: url(modules/smileys/30.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

#input{
	display: inline-flex;
	flex-direction: row;
}

#smiley-list{
    display: none;
    overflow: auto;
	position: absolute;
    margin-top: 45px;
    max-width: 500px;
    max-height: 40px;
    background-color: #9e9e9e;
    border-radius: 8px;
    
}

#smiley-list span{
	height: 20px;
    width: 20px;
    margin: 5px;
}

/*Module feedback*/
#is_typing {
    color: #fff;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
	padding-bottom: 5px;
	height: 10px;
}

#jsp{
	max-width: 70px;
	margin-bottom: -25px;
}

#users-list {
	position: absolute;
	top: 10%;
	left: 70%;
	width: 300px;
	height: 400px;
	overflow: auto;
	background-color: #f1d3bc;
	text-align: left;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	box-shadow:0px 0px 20px 0 rgba(0, 0, 0, 0.3);
	background-color: #f0eff0;
}
#users-list-title {
	font-size: 1.7rem;
	width: 300px;
	color: #f0eff0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	background-color:#262f34;
}
.users-list-container {
	font-size: 1rem;
	padding: 0;
	width: 0;
}
.users-list-item {
	font-size: 1.4rem;
    margin: 5px;
    padding: 10px;
    list-style-type: none;
    background-color: #f1d3bc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}
.users-list-item-picture {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-right: 20px;
    margin-top: 5px;
    background-size: cover;
    float: left;
}
.users-list-item-name {
    position: relative;
    float: left;
    width: calc(100% - 70px);
    top: 15px;
}
.full-pseudo-card {
	position: absolute;
	font-size: 0.8rem;
	top:-30px;
	left: -80px;
	padding: 5px;
	background-color: rgb(255, 247, 231);
	border: 2px black solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.users-list-item-status{
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 18px;
	padding-left: 25px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

#gif{
    border: none;
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.scribbl_color{
	cursor: pointer;
	display: none;
	width: 10px;
	height: 10px;
}

#green{
	position:absolute;
	top:55%;
	left:20%;
	background:green;
}

#blue{
	position: absolute;
	top: 55%;
	left: 21%;
	background: blue;
}

#red{
	position: absolute;
	top: 55%;
	left: 22%;
	background: red;
}

#orange{
	position: absolute;
	top: 55%;
	left: 23%;
	background: orange;
}

#black{
	position: absolute;
	top: 55%;
	left: 24%;
	background: black;
}

#yellow{
	position: absolute;
	top: 55%;
	left: 25%;
	background: yellow;
}

canvas {
	cursor: crosshair;
	position:absolute;
	top:10%;
	left:10%;
	border:2px solid;
	display: none;
	background-color: white;
}

#random_word{
	position: absolute;
	top: 3%;
	left:10%;
    width: 250px;
    height: 55px;
    font-size: 50px;
    background: none;
    color: white;
    border: none;
}